<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sandy.Main</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/datatables/css/jquery.datatables.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/font-awesome/css/fontawesome.min.css" rel="stylesheet" />

    <style>
        .myBrand {
            font-family: "Audiowide", sans-serif;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><i class="myBrand">Shree Ganesh</i></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="nav nav-pills text-white flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Recruiter" asp-action="Index">Recruiter</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="UserManagement" asp-action="Index">Admin</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="nav-link text-white btn btn-success" asp-area="" asp-controller="Home" asp-action="Login">Login</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main">
            @if (IsSectionDefined("AdminMenu"))
            {
                @RenderSection("AdminMenu", required: false)
            }
            <h4>@ViewData["Heading"]</h4>
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Shree Ganesh - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/datatables/js/jquery.datatables.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $(function () {

            var current = location.pathname;

            if (current.length === 1) {
                $('.nav .nav-link:first').removeClass('text-dark').addClass('text-white active');
                return;
            }
            else {
                $('.nav .nav-link').each(function () {

                    var $this = $(this);

                    var isValidPath = $this.attr('href').indexOf(current);
                    var hasActiveClass = $this.hasClass('active');

                    if (hasActiveClass && isValidPath === -1) {
                        $this.removeClass('active');
                    }

                    // if the current path is like this link, make it active
                    if (isValidPath !== -1) {
                        $this.removeClass('text-dark');
                        $this.addClass('text-white');
                        $this.addClass('active');
                    }
                })
            }
        })
    </script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
